---
import InfoItem from "./InfoItem.astro";
import { InfoItemData } from "./InfoItem.astro";
import Section from "./Section.astro";

const defunctProjects: InfoItemData[] = [
  {
    title: "chessTR",
    description:
      "A multiplayer chess game project of my own design, editing and development",
    from: "2022",
    url: "https://github.com/onuranl/chessTR",
  },
  {
    title: "Penelope",
    description: "Youtube video downloader",
    from: "2023",
    url: "https://github.com/onuranl/penelope",
  },
  {
    title: "Vue Plugin",
    description: "Simple loading screen for the vue developers",
    from: "2022",
    url: "https://github.com/onuranl/vue-loading-plugin",
  },
];
---

<Section title="Open Source Projects">
  <div class="defunct-row">
    {defunctProjects.map((item) => <InfoItem data={item} />)}
  </div>
</Section>

<style>
  .defunct-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @media (max-width: 768px) {
    .defunct-row {
      grid-template-columns: 1fr;
    }
  }
</style>
