---
import InfoItem, { InfoItemData } from "./InfoItem.astro";
import Section from "./Section.astro";

const list: InfoItemData[] = [
  {
    title: "Beykent University",
    description: "Bachelor's degree, Computer Engineering",
    from: "2019 (English preparation) - ",
    to: "2024",
    url: "https://lisansustu.beykent.edu.tr/en",
  },
  {
    title: "Fen Bilimleri College",
    description: "High school on science and mathematics",
    url: "https://www.izmirfbk.com/lise",
    from: "2015 - ",
    to: "2019",
  },
];
---

<Section title="Education">
  {list.map((item) => <InfoItem data={item} />)}
</Section>
