<header>
  <div class="top">
    <a>
      <h1>Onur Anıl Mertoğlu</h1>
    </a>
    <a href="mailto:onuranilmertoglu@gmail.com">send me an email</a>
  </div>
  <h2>
    front end developer, almost computer engineer, brazilian jiu jitsu
    enthusiast
  </h2>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/onuranl" target="_blank">github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/onuranl/" target="_blank"
          >linkedin</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/onuranl/" target="_blank">resume</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 3em 0;
    padding-bottom: 30px;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-secondary);
    opacity: 0.9;
  }

  nav ul {
    list-style: none;
    color: var(--color-secondary);
    padding: 0;
    display: flex;
    gap: 10px;
    margin: 0;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
